<p>Здравствуйте <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Мы оповестим вас о том, что ваша электронная почта изменена на <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Мы оповестим вас о том, что ваш адрес электронной почты был изменен на <%= @resource.email %>.</p>
<% end %>
